
@{
    ViewBag.Title = "EditDirector";
}

<h2>Edit Director Page</h2>
<h3>@ViewBag.DirectorMessage</h3>

<div class="container">
    <!-- inserting section-->
    <h3> Add Media</h3>
    <div class="container">
        <div class="row">
            <form action="../EditDirector/CreateDirector" method="post">
                <!-- Admin choose to create / update or delete media -->
                <div class="form-label-group" style="margin-top:10px; display:inline;">
                    <select id="criteria" name="criteria" required>
                        <option value="">Select Creaate / Update / Delete</option>
                        <option value="Create">Create</option>
                        <option value="Update">Update</option>
                        <option value="Delete">Delete</option>
                    </select>
                </div>

                <div class="form-label-group" style="margin-top:10px; display:inline;">
                    <label style="margin-right:25px;">Director Name</label> <input type="text" name="DirectorName" class="form-control" placeholder="Director Name" style="display:inline; margin-bottom:10px" required>
                </div>

                <div class="form-label-group" style="margin-top:10px;display:inline;">
                    <label style="margin-right:15px;">Director ID</label> <input name="DirectorID" type="number" class="form-control" placeholder="DirectorID" style="display:inline; margin-bottom:10px " required>

                </div><br />


                <div><button class="btnSubmit" type="submit" style="margin-top:100px; float:left;">Action</button></div>
            </form>
        </div>
    </div>

    <!-- print out the table-->
    <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">DirectorID</th>
                    <th scope="col">DirectorName</th>
                
                </tr>
            </thead>
            <tbody>

                @foreach (var media in ViewBag.allMedia)
                {

                    <tr>
                        <th scope="row">@media.DID</th>
                        <td>@media.DirectorName</td>
                      
                    </tr>

                }

            </tbody>
        </table>
    </div>


</div>
